<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SortingService.Client16GBFile.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISortingService" maxReceivedMessageSize="50000000000" transferMode="Streamed" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/SortingService/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISortingService"
                contract="ServiceReferenceSortingService.ISortingService"
                name="BasicHttpBinding_ISortingService" />
        </client>
    </system.serviceModel>
    <userSettings>
        <SortingService.Client16GBFile.Settings>
            <setting name="FileSizeInGB" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LinesPerChunk" serializeAs="String">
                <value>1000000</value>
            </setting>
            <setting name="CharactersPerFileLine" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LargeFileSizeErrorTolerationInPercents" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LargeFilePath" serializeAs="String">
                <value>large.txt</value>
            </setting>
            <setting name="SortedFilePath" serializeAs="String">
                <value>sortedLargeFile.txt</value>
            </setting>
        </SortingService.Client16GBFile.Settings>
    </userSettings>
</configuration>